<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <!-- Match the IDs with distributionManagement and repositories in pom.xml -->
    <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~client~~~</username>
      <password>784a7e7c95734c878f35d4a676112d45~?~0c02C961B52B498E8F63B415ef557a7d</password>
    </server>
   
 
    
  </servers>

  <profiles>
    <profile>
      <id>mule-dev</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>anypoint-exchange-v3</id>
          <name>Anypoint Exchange</name>
          <url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
        </repository>
        <repository>
          <id>mulesoft-releases</id>
          <name>MuleSoft Releases Repository</name>
          <url>https://repository.mulesoft.org/releases/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>


</settings>
